<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="dbKreditEntities" connectionString="metadata=res://*/KonsumKreditVerwaltungModel.csdl|res://*/KonsumKreditVerwaltungModel.ssdl|res://*/KonsumKreditVerwaltungModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AP_BB-pc\sqlexpress;initial catalog=dbKredit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--für DB in BBRZ Rechner-->
  <!---->
  
  <!--<connectionStrings>
    <add name="dbKreditEntities" connectionString="metadata=res://*/KonsumKreditVerwaltungModel.csdl|res://*/KonsumKreditVerwaltungModel.ssdl|res://*/KonsumKreditVerwaltungModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC001999FD02BD;initial catalog=dbKredit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>